<div class='errorExplanation' id='errorExplanation'><ul><li>A Paper with same PMID is already in System</li></ul></div>
<br/>
<br/>
<ul>
<li class="paper">
  <%= link_to @existed_paper.title, {:controller=>"personal", :action=>"show_paper_detail",:id=>@existed_paper.id} %>
</li>
</ul>