.menu2{
	float: left;
	width: 150px;
	border: 1px solid rgb(137, 213, 239);
	background: white;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 14px;
	padding-left: 14px;
	margin-top:20px;
	list-style-type: none;
	list-style-image: none;
	line-height: 250%;
}

.menu2 h1{
	margin-bottom: 15px;
}

.menu2 li{
	padding-left: 10px;
	font-weight: bold;
}

.menu2 li:hover{
	background: rgb(255, 255, 204);
}

.menu2 li.on-selected{
	background: rgb(195, 217, 255);
	color: rgb(0, 0, 204);	
}

.menu2 li.on-selected a{
	text-decoration: none;	
}

.clearElement{
	clear: both;
}

.content{
	float: right;
	width: 705px;
	border: 1px solid rgb(137, 213, 239);
	background: white;
	margin-right: 0px;
	margin-top:20px;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 18px;
		
}

.content .headline{
	margin-bottom: 30px;
}

.content .headline h1{
	display: inline;
	padding-right: 50px;
}

.content .headline a{
	float: right;
	position: relative;
	top: 8px;
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana;	
}

.content table{
        margin: 5px;
        border: 1px solid rgb(195, 217, 255);
        width: 100%;
}

.content table th{
        background: rgb(195, 217, 255);
        font-weight: bold;
        color: rgb(14, 48, 98);
        padding-top: 5px;
        padding-bottom: 5px;
}

.content table tr.selected-table-item:hover{
        background: rgb(255, 255, 204);
}

.content table td, .content table th{
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 10px;
}

.content table td.long-text{
        word-break:break-all;
        word-wrap:break-word;
        white-space: normal;
}

.content table .choice-radio{
	display:inline;
}

