*{
        margin: 0;
        padding: 0;
        font-family: tahoma, helvetica, sans-serif;
}

textarea,input{
        font-size: 12px;
        display: block;
}

textarea{
		font-family: normal Arial,Helvetica,sans-serif;
        width: 400px;
        height: 250px;
}
h1{
        font-size: 20px;
        font-family: georgia;
        color: rgb(14, 48, 98);
        font-weight: bold;
}


h2{
	font-family: normal Arial,Helvetica,sans-serif;
	font-size: 20px;
	font-variant: normal;
	font-weight: normal;
	font-size-adjust: normal;
	line-height: 150%;
	color: rgb(0 ,102, 0);
	margin:5px 0;
}

h3{
	font-family: normal Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-variant: normal;
	font-style: italic;
	color: rgb(0 ,102, 0);
	margin:5px 0;
	padding: 0 5px;
}

a { color:#06c;}

a:hover { color:#ff7031;}

img{
        border: 0px none;
}

body{
        background: white url(/images/background.gif) 0 0 repeat-x;;
        font-size: 12px;
        line-height: 150%;
}

.container{
        width: 950px;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
}

.flash{
        color : green;
}

.logo{
        float:right;
        margin-left: 10px;
		display:none;
}

.welcome{
		font-size: 14px;
        color: rgb(14, 48, 98);
        float: right;
        background: white;
        padding: 10px 15px 10px 10px;
		border: 1px solid rgb(137, 213, 239);
}

.menu{
		float: left;
        background: white;
		border: 1px solid rgb(137, 213, 239);
		font-size: 14px;
        color: rgb(14, 48, 98);
        background: white;
		padding: 20px 15px 20px 10px;
        list-style-type: none;
        list-style-image: none;
		white-space: nowrap;
}

.menu li{
        font-weight: bold;
        padding-right: 10px;
        display: inline;
}

.menu li a {
      text-decoration: none;
}

.menu li:hover{
        background: rgb(255, 255, 204);
}

.menu li a:hover {
      text-decoration: underline;
}

.clearElement{
        clear: both;
}

.search{
		float: left;
		background: white;
		margin: 0 10px 2px 10px;
}

.search input{
	font-size: larger;
}

.search input {
	display: inline;
}

.search input.formbutton {
	display:inline;
	cursor:pointer;
}

.content{
		margin-top: 20px;
        width: 925px;
        border: 1px solid rgb(137, 213, 239);
        background: white;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-right: 10px;
        padding-left: 18px;

}

.content table tr.list-line-odd, .content div.list-line-odd{
        background: white;
}

.content table tr.list-line-even, .content div.list-line-even{
        background: rgb(232, 238, 247);
}

.content form label{
        color: rgb(102,102,102);
        padding-top: 5px;
        display: block;
}

.content form input.submit, .content form input.checkbox{
        width: auto;
}

.content form .fieldWithErrors input,
.content form .fieldWithErrors textarea,
.content form .fieldWithErrors select{
        background: rgb(255, 197, 190);
}

.content .errorExplanation {
        float: left;
}

.content .errorExplanation p, .content .errorExplanation h2{
        display: none;
}

.content .errorExplanation ul{
        list-style-type: none;
        list-style-image: none;
        border: 1px solid red;
        background: rgb(255, 197, 190);
        color: rgb(204, 0, 0);
        font-weight: bold;
        padding: 3px 5px 3px 5px;
        margin-top: 5px;
}

.footer { clear:both; padding:1em 0; text-align:center; color:#06c;}
.footer p { margin:1em 0;}
.footer a { margin:0 .5em;}
