.content .index-papers {
	width: 580px;
	padding-right: 15px;
	float: right;
}

.content .popular-tags {
	width: 270px;
	padding-left: 10px;
	float: left;
}

.content .popular-tags div{
	padding: 0 5px;
}