.content .my-papers-list,
.content .my-notes{
	width: 580px;
	padding: 0 5px 10px 15px;
	float: left;
}

.content .my-papers-list .more-link{
	float: right;
	text-decoration: none;
	padding-right: 40px;
}

.content .my-tags {
	margin-top: 10px;
	width: 290px;
	padding-left: 5px;
	float: right;
}

.content .my-tags div{
	padding: 0 5px;
}