.content .my-papers-list {
	width: 500px;
	padding: 0 5px 10px 15px;
	float: left;
}

.content .my-tags,
.content .my-notes {
	margin-top: 10px;
	width: 370px;
	padding-left: 5px;
	float: right;
}

.content .my-tags div{
	padding: 0 5px;
}
