.content .paper-basic-info,
.content .collection-status{
	width: 490px;
	float: left;
	padding: 2px 5px;
}

.content .paper-basic-info table{
	border: none;
	margin: 0px;
}

.content .paper-basic-info .title{
	color: rgb(102,102,102);
}

.content .all-notes{
	width: 380px;
	float: right;
	padding: 2px 10px 2px 5px;
}