.content .paper-basic-info{
	width: 480px;
	float: left;
	padding: 0 5px 0 15px;
}

.content .paper-basic-info table{
	border: none;
	width: 100%;
	margin: 0px;
}

.content .paper-basic-info td{
	padding: 2px;
}

.content .paper-basic-info td.title{
	color: rgb(102,102,102);
}

.content .all-notes,
.content .collection-status{
	width: 380px;
	float: right;
	padding: 2px 10px 2px 5px;
	margin-bottom: 15px;
}

.content .collection-status form{
	padding: 3px 3px 0px 3px;
	margin: 0 2px 0 2px;
}

.content .collection-status input.radio_button{
	display: inline;
}

.content .collection-status span.tag,
.content .all-notes div.tab span {
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	border-right: 1px solid #AAFFAA;
	border-bottom: 1px solid #AAFFAA;
	background-color: #EEFFEE;
	padding: 3px 3px 2px 3px;
	margin: 0 2px 0 2px;
	cursor:pointer;
	display:inline-block;
}

.content .collection-status span.unselected {
	color: #006600;
}
.content .collection-status span.selected {
	color: #BBBBBB;
}

.content .all-notes div.tab {
	margin-left:3px;
}
.content .all-notes div.tab span{
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
	border: 2px solid #EEFFEE;
	border-bottom: none 0px;
	background-color: #fff;
	color: #006600;
}
.content .all-notes div.tab span.selected {
	font-size: 13px;
	background-color: #EEFFEE;
}

.content .all-notes div.notes {
	padding-left : 3px;
}

.content .all-notes div.notes .note-entry{
	padding-left: 0px;
}