.tag_size_1 { font-size: 1.0em; }
.tag_size_2 { font-size: 1.0em; color:rgb(36, 72, 108)}
.tag_size_3 { font-size: 1.2em; }
.tag_size_4 { font-size: 1.4em; color:rgb(36, 72, 108)}

.content .note-entry{
	padding-left: 5px;
}

.content .note-entry span.name{
	font-size: larger;
}

.content .note-entry span.time{
	color: rgb(153, 153, 153);
}

.content .note-entry span.title{
	display: block;
}

.content .note-entry div.topic{
	width:80%;
	padding: 2px 5px;
	background: url(/images/topicbar.gif) no-repeat
}

.content .note-entry span.title{
	padding: 2px 5px;
}

.content .note-entry div.note{
	padding: 2px 5px;
}

li.paper{
	list-style-image: url(/images/pdf.jpg);
	list-style-position: outside;
	margin-bottom: 5px;
	margin-left:23px
}

li.paper span{
	font-size: 10px;
	color: rgb(102, 102, 102);
}

.content .left-part-indent {
	padding-left:15px;
}

.content .pagenation-link{
	margin : 15px 0 0 0px;
	font-size : 14px;
	font-family: normal Arial,Helvetica,sans-serif;
}

.content .more-link{
	float: right;
	text-decoration: none;
	padding-right: 40px;
	display: block;
	font-style: italic;	
}
