<label for="note">Content</label>
<%= text_area 'note', 'content' %>
<label for="note_is_private" style='display:inline;'>Private</label>
<%= check_box 'note', 'is_private', {:class=>'checkbox'} %>

<%= submit_tag "Save", :class=>"submit" %>
