<label for="note">Content</label>
<%= text_area 'note', 'content', :cols=>60, :style=>"width:auto" %>
<%= check_box 'note', 'is_private', {:style=>'display:inline'} %>
<label for="note_is_private" style='display:inline;'>Private</label>
<br/>
<%= submit_tag "Save", :class=>"submit" %>
