<% form_tag({:action => 'add_to_collection', :id => params[:id]}) do%>
  <%= error_messages_for 'tag' %>

  <label for="paper_tags">Tags:</label>
  <%= text_field 'paper', 'tags'  %>
  <br />

  <label for="paper_status">Status:</label>
  <%= select 'paper', 'status', ['To Read', 'Reading', 'Finished'] %>
  <br />
  
  <%= submit_tag 'Save' %>
<% end %>