<div class='result-papers'>
  <h2><%=@user.realname.capitalize%>'s '<%=@status%>' Papers:</h2>
	<ul>
  	<%= render :partial=>"shared/list_paper", :locals=>{:papers=>@all_papers} %>
	</ul>
  
  <% if @all_papers.page_count > 1 %>
    <div class="pagenation-link">
    Pages: <%= paginating_links(@all_papers, :params=>{:status=>@status}) %>
    </div>
  <%end%>
</div>

<div class="clearElement"></div>
