<% form_tag do -%>
<label for="login">Login</label>
<%= text_field_tag 'login' %>

<label for="password">Password</label>
<%= password_field_tag 'password' %>
<br />
<%= check_box_tag 'remember_me','1',false,{:style=>"display:inline"} %>
<label style="display:inline" for="remember_me">Remember me</label>
<br />
<br />
<%= submit_tag 'Log in' %>
<% end -%>
