<%= error_messages_for :user %>
<% form_for :user do |f| -%>

<label for="login">Login</label>
<%= f.text_field :login %>

<label for="realname">Realname</label>
<%= f.text_field :realname %>

<label for="email">Email</label>
<%= f.text_field :email %>

<label for="password">Password</label>
<%= f.password_field :password %>

<label for="password_confirmation">Confirm Password</label>
<%= f.password_field :password_confirmation %>

<br/><br/>

<%= submit_tag 'Sign up' %>
<% end -%>
