<h2>Papers Tagged with '<%=@tag.name%>'...</h2>
<%= render :partial=>"shared/list_paper", :locals=>{:papers=>@papers} %>

<h2>Related Tags...</h2>
<%= render :partial=>"shared/list_related_tag", :locals=>{:related_tags=>@related_tags} %>


