<div class="footer">
  <p>
    Developed by<%= mail_to("sakinijino@gmail.com" , "Eric" ,:encode => "javascript" ) %>&<%= mail_to("jiakuan.ma@gmail.com" , "Mike" ,:encode => "javascript" ) %> 
  </p>
</div>
