<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Paper Management System</title>
    <%= stylesheet_link_tag 'common' %>
    <%= stylesheet_link_tag 'admin' %>
</head>

<body>

<div class="container">

<%= render :partial => 'layouts/header' %>

<ul class="menu2">
        <h1>Menu</h1>
  <%if logged_in? &&  is_admin? %>
          <li><%= link_to 'Paper Management', :controller =>'admin', :action=>'list_checking_paper'%></li>
          <li><%= link_to 'User Management', :controller =>'admin', :action=>'list_user'%></li>
  <%end%>
</ul>

<div class="content">
  <%= yield  %>
</div>

<%= render :partial => 'layouts/footer' %>
</html>