<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Paper Management System</title>
    <%= stylesheet_link_tag 'common' %>
    <%= stylesheet_link_tag 'pms' %>
    <%= stylesheet_link_tag 'homepage' %>
    <%= stylesheet_link_tag 'mypage' %>
    <%= stylesheet_link_tag 'paperdetail' %>
    <%= stylesheet_link_tag 'result' %>
    <%= javascript_include_tag :defaults %>
</head>

<body>

<div class="container">

<%= render :partial => 'layouts/header' %>

<div class="content">

  <div class="search">
    <% form_tag({:controller=>'public', :action => 'list_searched_paper'}, {:method=>:get} ) do%>
      <%= text_field_tag 'query', {}, {:size=>35}  %>
      <%= submit_tag 'Search', {:class=>'formbutton'} %>
    <% end %>
  </div>

  <div class="clearElement"></div>
  <%= yield  %>
</div>

<%= render :partial => 'layouts/footer' %>
</html>